@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

textarea {
    width:100%;
}

input[type=submit],
button[type=submit]
{
    margin-top:10px;
}

html > body{
    font-family: 'GmarketSansMedium';
}

/* lib */
a {
    color: inherit;
    text-decoration: none;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

textarea {
    width:100%;
}

input[type=submit],
button[type=submit]
{
    margin-top:10px;
}

html > body{
    font-family: 'GmarketSansMedium';
}

/* lib */
a {
    color: inherit;
    text-decoration: none;
}