<!--한글 깨짐 설정-->
<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" th:href="@{/static/question/style.css}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/js/bootstrap.min.js"></script>

<!--내비게이션 바-->
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">공모자들</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
<!--                    <a class="nav-link" href="/login">로그인</a>-->
                    <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/login}">로그인</a>
<!--                    로그인되어있으면 로그아웃버튼이 나오고, 로그인 안되어있으면 로그인 버튼이 나옴 -->
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/question/list">질문목록</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container my-3">
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성일시</th>
        </tr>
        </thead>

        <tbody>

        <tr th:each="questionEntity, index : ${questionEntity}">
        <tr th:each="questionEntity, loop : ${questionEntity}">
            <td th:text="${loop.count}"></td>
            <td>
                <a th:href="@{|/question/detail/${questionEntity.id}|}" th:text="${questionEntity.subject}"></a>

                <span class="text-danger small ms-2"
                      th:if="${#lists.size(questionEntity.answerEntityList) > 0}"
                      th:text="${#lists.size(questionEntity.answerEntityList)}">
                    </span>

            </td>
            <td th:text="${#temporals.format(questionEntity.createDate, 'yy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>

    <a th:href="@{/question/create}" class="btn btn-primary">질문 등록하기</a>

</div>