<!--한글 깨짐 설정-->
<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" th:href="@{/static/question/style.css}">

<div class="container my-3">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성일시</th>
            </tr>
         </thead>

        <tbody>

        <tr th:each="questionEntity, index : ${questionEntity}">
        <tr th:each="questionEntity, loop : ${questionEntity}">
            <td th:text="${loop.count}"></td>
            <td>
                <a th:href="@{|/question/detail/${questionEntity.id}|}" th:text="${questionEntity.subject}"></a>
            </td>
            <td th:text="${#temporals.format(questionEntity.createDate, 'yy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>
</div>