<!DOCTYPE html>
<html lang="en">

<style>
    #stiky {
        position:sticky ;
        top: 20px;
        bottom: 20px;
    }
</style>


<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>공모자들</title>

    <!-- Custom fonts for this template-->
    <link href="/static/bootstrap/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/static/bootstrap/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon rotate-n-15"></div>
                <div class="horizontal-container">
                    <div class="sidebar-brand-text mx-3">공모자들<sup></sup></div>
                    <div>GongMoJa</div>
                </div>
            </a>
            <hr class="sidebar-divider my-0">
            <hr class="sidebar-divider my-0">
            <hr class="sidebar-divider">

            <!--    사이드 메뉴 -->
            <div id="stiky">
                <div class="sidebar-heading">GONGMOJA</div>
                <!-- 1. 공모주 일정 메뉴  -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" onclick="fnMoveIndex('/', '3');" data-toggle="collapse"
                       data-target="#collapseTwo"
                       aria-expanded="true" aria-controls="collapseTwo">
                        <i class="fas fa-fw fa-calendar-alt"></i>
                        <span>공모주 일정</span>
                    </a>
                </li>
                <!-- 2. 공모주 경쟁률 메뉴  -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" onclick="fnMoveIndex('/', '1');" data-toggle="collapse"
                       data-target="#collapseTwo"
                       aria-expanded="true" aria-controls="collapseTwo">
                        <i class="fas fa-fw fa-chart-area"></i>
                        <span>공모주 경쟁률</span>
                    </a>
                </li>
                <!-- 3. 공모주 뉴스 메뉴  -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" onclick="fnMoveIndex('/', '2');" data-toggle="collapse"
                       data-target="#collapseTwo"
                       aria-expanded="true" aria-controls="collapseTwo">
                        <i class="fas fa-fw fa-layer-group"></i>
                        <span>공모주 뉴스</span>
                    </a>
                </li>
                <hr class="sidebar-divider d-none d-md-block">
        </ul>
        <!--  사이드 메뉴 종료-->
        <!-- 사이드바 숨기기 -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                 aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                               placeholder="Search for..." aria-label="Search"
                                               aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>
                        <!--탑 네비게이션 바 - 로그인 로그아웃 사용자정보-->
<!--                        <div class="topbar-divider d-none d-sm-block"></div>-->
<!--                        <li class="nav-item dropdown no-arrow">-->
<!--                            <a class="nav-link dropdown-toggle text-dark text-center" href="#" id="userDropdown"-->
<!--                               role="button"-->
<!--                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                            <span class="mr-4 d-none d-lg-inline text-gray-600 small" th:if="${userEntity != null}"-->
<!--                                  th:text="${userEntity.nickName}+님"></span>-->
<!--                                <span class="mr-4 d-none d-lg-inline text-gray-600 small" th:unless="${userEntity != null}">클릭하여 로그인</span>-->
<!--                                <img class="img-profile rounded-circle" src="/static/bootstrap/img/undraw_profile.svg">-->
<!--                            </a>-->
<!--                            <div class="dropdown-menu dropdown-menu-right shadow animated&#45;&#45;grow-in"-->
<!--                                 aria-labelledby="userDropdown">-->
<!--                                <a class="dropdown-item" href="/favorites/list">-->
<!--                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>-->
<!--                                    마이페이지-->
<!--                                </a>-->
<!--                                <a class="dropdown-item" href="#">-->
<!--                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>-->
<!--                                    참여중인 채팅방-->
<!--                                </a>-->
<!--                                <div class="dropdown-divider"></div>-->
<!--                                <a class="dropdown-item" th:if="${userEntity == null}" href="/login">-->
<!--                                    <i class="fas fa-sign-in-alt fa-sm fa-fw mr-2 text-gray-400"></i>-->
<!--                                    로그인-->
<!--                                </a>-->
<!--                                <a class="dropdown-item" th:unless="${userEntity == null}" href="/logout">-->
<!--                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>-->
<!--                                    로그아웃-->
<!--                                </a>-->
<!--                            </div>-->
<!--                        </li>-->
                    </ul>
                </nav>
                <!-- 토글 바 끝 -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- 404 Error Text -->
                    <div class="text-center" style="padding-top: 10%">
                        <div class="error mx-auto" data-text="500">500</div>
                        <p class="lead text-gray-800 mb-5">Internal Server Error</p>
                        <p class="text-gray-500 mb-2">서버에서 처리시 문제가 발생하였습니다.</p>
                        <a href="/">&larr; 메인 페이지로 돌아가기</a>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
<!--            <footer class="sticky-footer bg-white">-->
<!--                <div class="container my-auto">-->
<!--                    <div class="copyright text-center my-auto">-->
<!--                        <span>Copyright &copy; Your Website 2020</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </footer>-->
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

</body>

</html>