<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<style>
    #wrapper {
        position: sticky;
        top: 10px;
        bottom: 10px;

    }

    #stiky {
        position: sticky;
        top: 10px;
        bottom: 20px;

    }

    .news-item {
        margin: 10px;
    }

    .custom-list {
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
    }

    .custom-list li {
        margin-right: 10px;
        width: calc(300px); /* 3개씩 표시하므로 33.33%로 설정 */
        box-sizing: border-box; /* 요소의 padding과 border를 포함하여 크기 계산 */
    }

    /* 미디어 쿼리: 화면 크기가 768px 이하일 때 한 줄에 2개로 변경 */
    @media (max-width: 768px) {
        .custom-list li {
            width: calc(50% - 10px); /* 화면 크기가 768px 이하일 때 2개씩 표시하므로 50%로 설정 */
        }
    }

    /* 공모자들 타이틀 폰트 */
    @font-face {
        font-family: 'yg-jalnan';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    .horizontal-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sidebar-brand-text {
        font-family: 'yg-jalnan', sans-serif;
        font-size: 23px;
        font-weight: bold;
        color: black;
    }

</style>


<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>공모자들 메인페이지</title>

    <!-- Custom fonts for this template-->
    <link href="/static/bootstrap/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/static/bootstrap/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- 사이드바 -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
            <div class="sidebar-brand-icon rotate-n-15">
                <!--아이콘 변경-->
            </div>
            <div class="horizontal-container">
<!--                <div class="sidebar-brand-text mx-3">공모자들<sup></sup></div>-->
                <div>GongMoJa</div>
            </div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">


        <!-- 내비게이션 2 : 공모주 관련 내용들 -->
        <hr class="sidebar-divider my-0">

        <!-- 구분선 -->
        <hr class="sidebar-divider">

        <!-- 내비게이션 1번 제목-->
        <div id="stiky" class="sidebar-heading">GONGMOJA</div>

        <!--내비게이션 1번 항목 (공모주)-->
        <div id="stiky">
            <li class="nav-item">
                <a class="nav-link collapsed" href="/display-graph" data-toggle="collapse" data-target="#collapseTwo"
                   aria-expanded="true" aria-controls="collapseTwo">
                    <!--폴더아이콘-->
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>공모주 정보</span>
                </a>
                <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">공모주 관련 정보입니다</h6>
                        <a class="collapse-item" href="#" onclick="fnMove('3');">공모주 일정</a> <!-- href="/calendar" -->
                        <a class="collapse-item" href="#" onclick="fnMove('1');">공모주 경쟁률</a>
                        <!-- href="/display-graph"-->
                        <a class="collapse-item" href="#" onclick="fnMove('2');">공모주 뉴스</a> <!-- href="/news/1" -->
                    </div>
                </div>
            </li>

            <!-- 구분선 -->
            <hr class="sidebar-divider d-none d-md-block">
        </div>
    </ul>
    <!-- 왼쪽 사이드바 종료 -->

    <!-- 사이드바 숨기기 -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

            <!-- 공모자들 제목-->
                <div class="horizontal-container">
<!--                    <img src="/static/bootstrap/img/공모자들로고-002.png" alt="공모자들로고" style="width: 48px;">-->
                    <div class="sidebar-brand-text mx-3">공모자들<sup></sup></div>
                </div>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                             aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                           placeholder="Search for..." aria-label="Search"
                                           aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>


                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!--탑 네비게이션 바 - 로그인 로그아웃 사용자정보-->
                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle text-dark text-center" href="#" id="userDropdown"
                           role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-4 d-none d-lg-inline text-gray-600 small" th:if="${userEntity != null}"
                                  th:text="${userEntity.nickName}+님"></span>
                            <span class="mr-4 d-none d-lg-inline text-gray-600 small" th:unless="${userEntity != null}">클릭하여 로그인</span>
                            <img class="img-profile rounded-circle" src="/static/bootstrap/img/undraw_profile.svg">
                            <!--                                    <button th:method="post" th:action="@{/logout}"></button>-->
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="/favorites/list">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                마이페이지
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                참여중인 채팅방
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" th:if="${userEntity == null}" href="/login">
                                <i class="fas fa-sign-in-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                로그인
                            </a>
                            <a class="dropdown-item" th:unless="${userEntity == null}" href="/logout">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                로그아웃
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- 토글 바 끝 -->


            <!-- 대시보드 부분 -->
            <div class="container-fluid">

                <!-- Page Heading -->
<!--                <div class="d-sm-flex align-items-center justify-content-between mb-4">-->
<!--                    <h1 class="h3 mb-0 text-gray-800">공모주 정보</h1>-->
                <div id="div" class="row">
                    <!-- 공모주 뉴스 부분 -->
                    <div class="col-xl-8 col-lg-7">
                        <!-- Project Card Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">공모주 정보</h6>
                            </div>

                <!-- Pending Requests Card Example -->
                <ul class="custom-list">
                    <!-- 현재 진행중인 공모주 -->
                    <th:block th:each="stock, iterStat : ${progressStocks}">
                        <li>
                            <div class="card border-left-warning shadow h-100 py-2 flex-grow-1">
                                <div class="card-body">
                                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                        청약 진행중인 공모주
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800" id="dataFromDB"
                                         style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                                        <a th:href="@{/stock/{stockId}(stockId=${stock.id})}"
                                           th:text="${stock.name}"
                                           style="text-decoration: none; color: #5a5c69;"></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- 3개 이상의 요소일 때 줄바꿈 -->
                        <th:if test="${iterStat.index > 2}">
                            <div style="flex-basis: 100%; height: 0;"></div>
                        </th:if>
                    </th:block>
                </ul>

                <!-- 청약 예정 공모주 -->
                <ul class="custom-list">
                    <th:block th:each="stock, iterStat : ${scheduledStocks}">
                        <li>
                            <div class="card border-left-primary shadow h-100 py-2 flex-grow-1">
                                <div class="card-body">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        청약 예정 공모주
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800"
                                         style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                                        <a th:href="@{/stock/{stockId}(stockId=${stock.id})}"
                                           th:text="${stock.name}"
                                           style="text-decoration: none; color: #5a5c69; "></a>
                                        <span th:text="${' ' + stock.getStartDate().getMonthValue() + ' / ' + stock.getStartDate().getDayOfMonth() + ' 예정'}"
                                              style="text-decoration: none; color: #5a5c69; font-size: 14px; opacity: 0.7; text-align: right;"></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </th:block>
                </ul>
            </div>



                <!-- 공모주 일정 부분 -->
                <div>
                    <div id="div3" class="row">
                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-2">
                                <h6 class="m-3 font-weight-bold text-primary">공모주 일정</h6>
                                <div class="card shadow ">
                                    <!-- Card Header - Dropdown -->
                                    <link href='/static/fullcalendar-5.11.5/main.css' rel='stylesheet'/>
                                    <script src='/static/fullcalendar-5.11.5/main.js'></script>
                                    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

                                    <script>
                                        document.addEventListener('DOMContentLoaded', function () {
                                            var calendarEl = document.getElementById('calendar');
                                            var calendar = new FullCalendar.Calendar(calendarEl, {
                                                initialView: 'dayGridMonth', // 초기 로드 될때 보이는 캘린더 화면(기본 설정: 달)
                                                aspectRatio: 0.8,

                                                locale: "ko", // 한국어 설정
                                                displayEventTime: false, // 일정 시각 안보이도록
                                                eventSources: { // 이벤트 목록
                                                    url: '/calendar/event',
                                                    method: 'GET',
                                                    failure: function () {
                                                        alert('there was an error while fetching events!');
                                                    }
                                                }
                                            });
                                            // 캘린더 렌더
                                            calendar.render();
                                        });
                                    </script>
                                    </head>
                                    <div id='calendar-container' style='width: 95%; height: 20%; margin: 3%;'>
                                        <div id='calendar'></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 경쟁률 차트 부분 -->
                    <div id="div1" class="row">
                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">공모주 경쟁률</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                             aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Dropdown Header:</div>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>


                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-area">
                                        <canvas id="myAreaChart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- 경쟁률 차트 부분 -->
                    <div class="row">
                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">공모주 경쟁률</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="custom-card-body">
                                    <div>
                                        <div style="max-width: 100%; height: auto; display: flex; flex-direction: column; align-items: center;">
                                            <img th:src="@{'data:image/jpeg;base64,' + ${base64Image}}"
                                                 alt="Graph Image" style="width: 100%; height: 100%;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Content Row -->
                    <div id="div2" class="row">
                        <!-- 공모주 뉴스 부분 -->
                        <div class="col-xl-8 col-lg-7">
                            <!-- Project Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">공모주 최신 뉴스</h6>
                                </div>
                                <!--뉴스 항목-->
                                <div th:each="news : ${newsList}">
                                    <div class="news-item">
                                        <p></p>
                                        <h6><a th:href="${news.newsUrl}" target="_blank" th:text="${news.title}">News
                                            Title</a></h6>
                                        <p th:text="${news.publisher}" style="display: inline; margin: 0;">Publisher</p>
                                        <img th:src="${news.imageUrl}" alt="News Image" width="20"
                                             style="max-height: 16px; display: inline;">
                                        <span style="display: inline;">|</span>
                                        <p th:text="${#temporals.format(news.publishedTime, 'yyyy-MM-dd')}"
                                           style="display: inline; margin: 0;">Published Date</p>
                                        <p th:text="${news.content}">News Summary</p>
                                    </div>
                                    <hr class="sidebar-divider d-none d-md-block">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    function fnMove(seq) {
        var offset = $("#div" + seq).offset();
        $('html, body').animate({scrollTop: offset.top}, 400);
    }

</script>
<!-- Bootstrap core JavaScript-->
<script src="/static/bootstrap/vendor/jquery/jquery.min.js"></script>
<script src="/static/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/static/bootstrap/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/static/bootstrap/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/static/bootstrap/vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="/static/bootstrap/js/demo/chart-area-demo.js"></script>
<script src="/static/bootstrap/js/demo/chart-pie-demo.js"></script>
</body>
</html>