<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
    <script>

        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                    events : [
                        {
                            title: '주식테스트1',
                            start: '2023-08-01',
                            end : "2023-08-05"
                        },
                        {
                            title: '주식테스트2',
                            start: '2023-08-03',
                            end: '2023-08-05'
                 }
              ]
        });
            calendar.render();
        });

    </script>
</head>
<body>
<div id='calendar'></div>
</body>
</html>