<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>공모자들</title>

    <!-- Custom fonts for this template-->
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link href="/static/bootstrap/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/static/bootstrap/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-5">로그인 하기</h1>
                                    </div>
                                    <form class="user" th:method="post" th:action="@{/login}" th:object="${userLoginRequestDto}" >
                                        <div class="form-group">
                                            <input th:field="*{username}" th:for="username" class="form-control form-control-user"
                                                id="exampleInputEmail" aria-describedby="emailHelp"
                                                placeholder="아이디를 입력하세요..">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" th:field="*{password}" th:for="password" class="form-control form-control-user"
                                                id="exampleInputPassword" placeholder="패스워드를 입력하세요..">
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="customCheck">
                                                <label class="custom-control-label" for="customCheck">Remember
                                                    Me</label>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                            로그인
                                        </button>
                                        <hr>
                                        <p align="center" class="text-center text-gray-900 mb-4">다른 계정으로 로그인 하기</p>
                                        <a style="background-color: #fee500" href="/oauth2/authorization/kakao" class="btn btn-google btn-user btn-block">
                                            <img src="/static/bootstrap/img/btn_kakao.svg">  카카오 계정으로 로그인 하기
                                        </a>
                                        <a style="background-color: #1ec850" href="/oauth2/authorization/naver" class="btn btn-facebook btn-user btn-block">
                                            <img src="/static/bootstrap/img/btn_naver.svg">  네이버 계정으로 로그인 하기
                                        </a>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="/forgot-password">비밀번호를 잊으셨나요?</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="/register">회원가입 하기</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="/">메인 페이지로 돌아가기</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/static/bootstrap/vendor/jquery/jquery.min.js"></script>
    <script src="/static/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/static/bootstrap/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/static/bootstrap/js/sb-admin-2.min.js"></script>

</body>

</html>