<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>공모자들</title>

    <!-- Custom fonts for this template-->
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link href="/static/bootstrap/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/static/bootstrap/css/sb-admin-2.min.css" rel="stylesheet">
    <style>
        .news-item{
            margin: 10px;
        }
        .star-icon {
            color: #ffcd39;
            font-size: 28px;
            padding: 0; /* 패딩 제거 */
            border: none; /* 외각 박스 제거 */
            background: transparent; /* 배경 제거 */
        }
        #stiky {
            position:sticky ;
            top: 20px;
            bottom: 20px;
        }

        /* 공모자들 타이틀 폰트 */
        @font-face {
            font-family: 'yg-jalnan';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        .horizontal-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .sidebar-brand-text {
            font-family: 'yg-jalnan', sans-serif;
            font-size: 23px;
            font-weight: bold;
            color: #5D5D5D;
        }
    </style>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<!-- Page Wrapper -->
<div id="wrapper">

    <!-- 사이드바 -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
            <div class="sidebar-brand-icon rotate-n-15">
                <!--아이콘 변경-->
                <!--                    <i class="fas fa-laugh-wink"></i>-->
            </div>
            <div class="horizontal-container">
                <div>GongMoJa</div></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">
        <hr class="sidebar-divider my-0">

        <!-- 구분선 -->
        <hr class="sidebar-divider">

        <!-- 내비게이션 1번 제목-->
        <!--내비게이션 1번 항목 (공모주)-->
        <div id="stiky" >
            <div  class="sidebar-heading">GONGMOJA</div>

            <!-- 1. 공모주 일정 메뉴  -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" onclick="fnMoveIndex('/', '3');" data-toggle="collapse" data-target="#collapseTwo"
                   aria-expanded="true" aria-controls="collapseTwo">
                    <!--폴더아이콘-->
                    <i class="fas fa-fw fa-calendar-alt"></i>
                    <span>공모주 일정</span>
                </a>
            </li>
            <!-- 2. 공모주 경쟁률 메뉴  -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" onclick="fnMoveIndex('/', '1');" data-toggle="collapse" data-target="#collapseTwo"
                   aria-expanded="true" aria-controls="collapseTwo">
                    <!--폴더아이콘-->
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>공모주 경쟁률</span>
                </a>
            </li>
            <!-- 3. 공모주 뉴스 메뉴  -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" onclick="fnMoveIndex('/', '2');" data-toggle="collapse" data-target="#collapseTwo"
                   aria-expanded="true" aria-controls="collapseTwo">
                    <!--폴더아이콘-->
                    <i class="fas fa-fw fa-layer-group"></i>
                    <span>공모주 뉴스</span>
                </a>
            </li>

            <!-- 구분선 -->
        <hr class="sidebar-divider d-none d-md-block">

    </ul>
    <!-- 왼쪽 사이드바 종료 -->

    <!-- 사이드바 숨기기 -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- 공모자들 제목-->
                <div class="horizontal-container">
                    <!--                    <img src="/static/bootstrap/img/공모자들로고-002.png" alt="공모자들로고" style="width: 48px;">-->
                    <div class="sidebar-brand-text mx-3">공모자들<sup></sup></div>
                </div>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                             aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                           placeholder="Search for..." aria-label="Search"
                                           aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>


                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!--탑 네비게이션 바 - 로그인 로그아웃 사용자정보-->
                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle text-dark text-center" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-4 d-none d-lg-inline text-gray-600 small" th:if="${userEntity != null}"  th:text="${userEntity.nickName}+님"></span>
                            <span class="mr-4 d-none d-lg-inline text-gray-600 small" th:unless="${userEntity != null}" >클릭하여 로그인</span>
                            <img class="img-profile rounded-circle" src="/static/bootstrap/img/undraw_profile.svg">
                            <!--                                    <button th:method="post" th:action="@{/logout}"></button>-->
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="/favorites/list">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                마이페이지
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                참여중인 채팅방
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" th:if="${userEntity == null}" href="/login">
                                <i class="fas fa-sign-in-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                로그인
                            </a>
                            <a class="dropdown-item" th:unless="${userEntity == null}" href="/logout">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                로그아웃
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- 토글 바 끝 -->
        <div class="container-fluid">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-content-center justify-content-between" >
                    <div>
                    <h4 class="m-0 font-weight-bold text-primary" th:text="${stock.name}" style="display: inline">공모주</h4>
                    <button id="favoriteButton" class="star-icon">
                        <i class="fas fa-star"></i>
                    </button>
                    </div>
                    <a th:href="@{/chat/{stockId}(stockId=${stock.id})}">
                        <i class="fas fa-comment fa-2x custom-icon"></i>
                    </a>
                </div>
                <table class="table">
                    <tr class="category-row">
                        <th>기관 경쟁률</th>
                        <td th:text="${stock.competitionRate}"></td>
                    </tr>
                    <tr class="category-row">
                        <th>산업</th>
                        <td th:text="${stock.industry}"></td>
                    </tr>
                    <tr class="category-row">
                        <th>청약 시작일</th>
                        <td th:text="${#temporals.format(stock.startDate.toLocalDate(), 'yyyy-MM-dd')}"></td>
                    </tr>
                    <tr class="category-row">
                        <th>청약 종료일</th>
                        <td th:text="${#temporals.format(stock.endDate.toLocalDate(), 'yyyy-MM-dd')}"></td>
                    </tr>
                    <tr class="category-row">
                        <th>상장일</th>
                        <td th:text="${#temporals.format(stock.ipoDate.toLocalDate(), 'yyyy-MM-dd')}"></td>
                       </tr>
                    <tr class="category-row">
                        <th>환불일</th>
                        <td th:text="${#temporals.format(stock.refundDate.toLocalDate(), 'yyyy-MM-dd')}"></td>
                    </tr>
                    <tr class="category-row">
                        <th>주간사</th>
                        <td th:text="${stock.sponsor}"></td>
                    </tr>
                    <tr class="category-row">
                        <th>총 발행량</th>
                        <td th:text="${stock.shareAmount + '주'}"></td>
                    </tr>
                    <tr class="category-row">
                        <th>공모가</th>
                        <td th:text="${stock.price + '원'}"></td>
                    </tr>
                </table>
            </div>
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary" th:text="${stock.name + ' 뉴스기사'}">공모주 뉴스</h6>
                </div>
                <!--뉴스 항목-->
                <div th:each="news : ${newsList}">
                    <div class="news-item">
                        <p></p>
                        <h6><a th:href="${news.newsUrl}" target="_blank"  th:text="${news.title}" >News Title</a></h6>
                        <p th:text="${news.publisher}" style="display: inline; margin: 0;">Publisher</p>
                        <img th:src="${news.imageUrl}" alt="News Image" width="20" style="max-height: 16px; display: inline;">
                        <span style="display: inline;">|</span>
                        <p th:text="${#temporals.format(news.publishedTime, 'yyyy-MM-dd')}" style="display: inline; margin: 0;">Published Date</p>
                        <p th:text="${news.content}">News Summary</p>
                    </div>
                    <hr class="sidebar-divider d-none d-md-block">
                </div>
            </div>
        </div>
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; gongmoja 2023</span>
                </div>
            </div>
        </footer>
    </div>
</div>
<script th:inline="javascript">

    var favoriteButton = document.getElementById('favoriteButton');
    var stockId = /*[[${stock.id}]]*/ 0;
    var isFavorite = false; // 즐겨찾기 상태 초기값 (별 아이콘 채움)

    function updateFavoriteButton() {
        fetch('/favorites/isFavorite/' + stockId, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json;charset=UTF-8'
            }
        })
            .then(response => {
                if (response.status === 200) {
                    return response.json();
                } else {
                    console.error('오류 발생');
                }
            })

            .then(newIsFavorite => {
                isFavorite = newIsFavorite;
                updateStarIcon();
            })
            .catch(error => {
                console.error('오류 발생', error);
            });
    }

    function fnMoveIndex(targetPage, seq) {
        // 이동할 대상 페이지의 URL
        var targetURL = targetPage + "#div" + seq;

        // 새로운 페이지로 이동
        window.location.href = targetURL;
    }

    function updateStarIcon() {
        var starIcon = favoriteButton.querySelector('.fa-star');
        if (isFavorite) {
            starIcon.classList.add('fas'); // 별 아이콘 채워짐 스타일
            starIcon.classList.remove('far'); // 비어있는 별 아이콘 스타일 제거
        } else {
            starIcon.classList.remove('fas'); // 채워진 별 아이콘 스타일 제거
            starIcon.classList.add('far'); // 비어있는 별 아이콘 스타일
        }
    }
    updateFavoriteButton();

    favoriteButton.addEventListener('click', function () {
        var method = 'POST';
        var url = '/favorites/add/' + stockId;

        if (isFavorite) {
            method = 'POST';
            url = '/favorites/remove/' + stockId;
        }

        fetch(url, {
            method: method,
            headers: {
                'Content-Type': 'application/json;charset=UTF-8'
            }
        })
            .then(response => {
                if (response.status === 200) {
                    isFavorite = !isFavorite; // 토글 즐겨찾기 상태
                    updateStarIcon();
                } else {
                    console.error('오류 발생');
                }
            })
            .catch(error => {
                console.error('오류 발생', error);
            });
    });
</script>

<!-- Bootstrap core JavaScript-->
<script src="/static/bootstrap/vendor/jquery/jquery.min.js"></script>
<script src="/static/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/static/bootstrap/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/static/bootstrap/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/static/bootstrap/vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="/static/bootstrap/js/demo/chart-area-demo.js"></script>
<script src="/static/bootstrap/js/demo/chart-pie-demo.js"></script>
</body>
</html>